<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EmbraceEndpoints</key>
	<dict>
		<key>baseURL</key>
		<string>$(embraceBaseURL)</string>
		<key>configBaseURL</key>
		<string>$(embraceConfigBaseURL)</string>
		<key>developmentBaseURL</key>
		<string>$(embraceDevelopmentBaseURL)</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
