## Local Config
*.local.xcconfig

## Xcode
.ruby-version
.DS_Store

## Build generated
build/
DerivedData/
Output/
Embrace.framework/
embrace_*.*.*
embrace_support.zip

## Swift Package build generated
**/.build

# .swiftpm

## Test results
*.xcresult

## fastlane generated
**/html/
**/fastlane/report.xml
**/fastlane/test_output/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Sonar
.scannerwork
sonar-output

## Tuist
*.xcworkspace
*.xcodeproj
**/Derived/

## CI
binaries/

## Examples
Examples/AppSizeTester/*.xcodeproj
Examples/AppSizeTester/*.xcworkspace

# Exception: Don't ignore Benchmarks project files
!Examples/Benchmarks/*.xcworkspace
!Examples/Benchmarks/*.xcodeproj

# Exception: Don't ignore BrandGame-CocoaPods project files
!Examples/BrandGame-CocoaPods/*.xcworkspace
!Examples/BrandGame-CocoaPods/*.xcodeproj

## pods
Examples/BrandGamePod
Examples/BrandGame-CocoaPods/Pods/
Examples/BrandGame-CocoaPods/Podfile.lock

## Benchmarks user data
Examples/Benchmarks/Benchmarks.xcworkspace/xcuserdata

#Don't ignore example apps project files
!Examples/Embrace-tvOS-TestApp/*.xcodeproj
!Examples/Embrace-watchOS-TestApp/*.xcodeproj

## Claude
.claude/
