name: Build Platforms

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
          
      - id: set
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" && "${GITHUB_REF}" == "refs/heads/main" ]]; then
            MATRIX=$(jq -c .main .github/matrices/builds.json)
          else
            MATRIX=$(jq -c .pr .github/matrices/builds.json)
          fi
          echo "matrix=${MATRIX}" >> "$GITHUB_OUTPUT"

  build:
    needs: prepare
    name: Build ${{ matrix.platform }}, on macOS ${{ matrix.macos-version }}, with Xcode ${{ matrix.xcode_version }}
    timeout-minutes: 30
    runs-on: macos-${{ matrix.macos-version }}
    
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.prepare.outputs.matrix) }}

    steps:
    - name: Select Xcode
      # See https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      run: |
        sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode_version }}.app
        xcodebuild -version
        
    - uses: actions/checkout@v4
      timeout-minutes: 4
      with:
        persist-credentials: false

    - name: Build
      uses: mxcl/xcodebuild@96d9ef9fd2ab35ddad713d320955eb31ca8d6d21 # 3.5.1
      with:
        workspace: ".swiftpm/xcode/package.xcworkspace"
        scheme: EmbraceIO-Package
        platform: ${{ matrix.platform }}
        platform-version: ${{ matrix.platform-version }}
        upload-logs: always
        code-coverage: false
        trust-plugins: false
        arch: arm64
