name: Build Platforms

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ${{ matrix.platform }}, on macOS ${{ matrix.macos-version }}, with Xcode ${{ matrix.xcode_version }}
    timeout-minutes: 30
    runs-on: macos-${{ matrix.macos-version }}
    
    strategy:
      fail-fast: false
      matrix:
        platform: ["iOS"]
        xcode_version: ["15.4"]
        macos-version: ["14"]
        include:

          # iOS
          - platform: "iOS"
            xcode_version: "15.4"
            macos-version: "14"

          - platform: "iOS"
            xcode_version: "16.4"
            macos-version: "15"

          - platform: "iOS"
            xcode_version: "26.0"
            macos-version: "15"

          # tvOS
          - platform: "tvOS"
            xcode_version: "15.4"
            macos-version: "14"

          - platform: "tvOS"
            xcode_version: "16.4"
            macos-version: "15"

          # macOS
          - platform: "macOS"
            xcode_version: "15.4"
            macos-version: "14"

          - platform: "macOS"
            xcode_version: "16.4"
            macos-version: "15"

          # watchOS
          - platform: "watchOS"
            xcode_version: "15.4"
            macos-version: "14"

          - platform: "watchOS"
            xcode_version: "16.4"
            macos-version: "15"

    steps:
    - name: Select Xcode
      # See https://github.com/actions/runner-images/blob/main/images/macos/macos-15-Readme.md
      run: |
        sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode_version }}.app
        xcodebuild -version
        
    - uses: actions/checkout@v4
      timeout-minutes: 4
      with:
        persist-credentials: false

    - name: Cache .build directory
      uses: actions/cache@v4
      with:
        path: .build
        key: ${{ runner.os }}-build-${{ hashFiles('**/Package.resolved') }}
        restore-keys: |
          ${{ runner.os }}-build-

    - name: Run build script
      run: |
        bin/build ${{ matrix.platform }} | xcpretty && exit ${PIPESTATUS[0]}
