name: Perf Check

on:
  pull_request:
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ITERATIONS: 20
  SHOULD_CLEAN: 1
  THRESHOLD: 5.0
  TESTS: |
    EmbraceIOTests/PerformanceTests

jobs:
  perf:
    runs-on: macos-latest
    
    steps:

      # checkout this PR branch
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install scipy pygithub

      - name: Copy binaries
        run: |
          cp bin/perf /tmp/perf
          cp bin/perfcomp.py /tmp/perfcomp.py
          chmod +x /tmp/perf
          chmod +x /tmp/perfcomp.py

      - name: Run PR perf tests
        id: perfpr
        run: |
          /tmp/perf >perf.txt
          echo "out<<EOF" >> "$GITHUB_OUTPUT"
          cat perf.txt >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"
      
        # checkout the main branch
      - name: Checkout Main
        uses: actions/checkout@v4
        with:
          ref: main
          persist-credentials: false
      
      - name: Run Main perf tests
        id: perfmain
        run: |
          /tmp/perf >perf.txt
          echo "out<<EOF" >> "$GITHUB_OUTPUT"
          cat perf.txt >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Run Performance Comparison
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERF_PR: ${{ steps.perfpr.outputs.out }}
          PERF_MAIN: ${{ steps.perfmain.outputs.out }}
          REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          python /tmp/perfcomp.py
