name: Run Danger

on:
  pull_request:
    branches:
      - main
  workflow_call: {}
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: "Run Danger"
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run Danger Swift
        uses: danger/swift@2dc204311befdf33eae93dec92a1f059ca673425 # v3.22.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
