name: Run Swift Tests

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - id: set
        run: |
          if [[ "${GITHUB_EVENT_NAME}" == "push" && "${GITHUB_REF}" == "refs/heads/main" ]]; then
            MATRIX=$(jq -c .main .github/matrices/builds.json)
          else
            MATRIX=$(jq -c .pr .github/matrices/builds.json)
          fi
          echo "matrix=${MATRIX}" >> "$GITHUB_OUTPUT"

  run-tests:
    needs: prepare
    name: Test ${{ matrix.platform }}, on macOS ${{ matrix.macos-version }}, with Xcode ${{ matrix.xcode_version }}, sanitizer ${{ matrix.sanitizer }}
    timeout-minutes: 30
    runs-on: macos-${{ matrix.macos-version }}
    
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.prepare.outputs.matrix) }}

    permissions:
      checks: write
    steps:
      - name: Select Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode_version }}.app
          xcodebuild -version
        continue-on-error: false

      - name: Ensure the Platform is Downloaded
        if: ${{ matrix.platform != 'macOS' && matrix.platform != 'mac-catalyst' }}
        run: |
          xcodebuild -runFirstLaunch
          xcrun simctl list
          xcodebuild -downloadPlatform ${{ matrix.platform }}
          xcodebuild -runFirstLaunch

      - uses: actions/checkout@v4
        timeout-minutes: 2
        with:
          persist-credentials: false

      - name: Run Unit Tests
        uses: mxcl/xcodebuild@d3ee9b419c1be9a988086c58fe0988f32d99cfc5 # 3.6.0
        timeout-minutes: 80
        with:
          workspace: ".swiftpm/xcode/package.xcworkspace"
          scheme: EmbraceIO-Package
          platform: ${{ matrix.platform }}
          platform-version: ${{ matrix.platform-version }}
          upload-logs: always
          code-coverage: true
          trust-plugins: false
          arch: arm64
          sanitizer: ${{ matrix.sanitizer }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
