name: Perf Check

on:
  pull_request:
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ITERATIONS: 5
  SHOULD_CLEAN: 1
  THRESHOLD_PCT: 5.0
  TESTS: |
    EmbraceIOTests/PerformanceTests
  BENCHMARKS: |
    BenchmarksUITests

jobs:
  perf:
    runs-on: macos-latest

    steps:

      - name: Export Embrace Binary Home
        run: echo "EMB_BIN_HOME=${{ runner.tool_cache }}/embrace/bin" >> "$GITHUB_ENV"

      # checkout this PR branch
      - name: Checkout PR
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          pip install scipy pygithub
          gem install xcpretty
          brew install xcbeautify

      - name: Copy binaries
        run: |
          echo "Copying binaries to $EMB_BIN_HOME"
          mkdir -p "$EMB_BIN_HOME"
          cp bin/platform "$EMB_BIN_HOME"
          cp bin/perf "$EMB_BIN_HOME"
          cp bin/benchmarks "$EMB_BIN_HOME"
          cp bin/perfcomp.py "$EMB_BIN_HOME"
          cp bin/destinations "$EMB_BIN_HOME"
          cp bin/run_regression_tests "$EMB_BIN_HOME"
          chmod +x "$EMB_BIN_HOME/perf"
          chmod +x "$EMB_BIN_HOME/benchmarks"
          chmod +x "$EMB_BIN_HOME/perfcomp.py"
          chmod +x "$EMB_BIN_HOME/destinations"
          chmod +x "$EMB_BIN_HOME/run_regression_tests"

      - name: Run PR perf tests
        id: perfpr
        run: |
          ls -lsa $EMB_BIN_HOME
          $EMB_BIN_HOME/run_regression_tests

        # checkout the main branch
      - name: Checkout Main
        uses: actions/checkout@v4
        with:
          ref: main
          persist-credentials: false
      
      - name: Run Main perf tests
        id: perfmain
        run: |
          ls -lsa $EMB_BIN_HOME
          $EMB_BIN_HOME/run_regression_tests

      - name: Run Performance Comparison
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERF_PR: ${{ steps.perfpr.outputs.out }}
          PERF_MAIN: ${{ steps.perfmain.outputs.out }}
          REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          python $EMB_BIN_HOME/perfcomp.py
